<mat-toolbar color="primary">
    <span>Ciclismo</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon> 

    </button>
  </mat-toolbar>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item routerLink="contactenos/indexcontactenos">contactenos</button>
    <button mat-menu-item routerLink="ciclistas/index">ciclistas</button>
    <button mat-menu-item routerLink="rutas/indexrutas">rutas</button>
    <button mat-menu-item routerLink="tabla-posiciones/indextabla">Noticias</button>
  
  </mat-menu>
  
  <br>
 

