



  <div class="row marketing">
    <div class="col-lg-6">
      <h4>Fallece ciclista Francés</h4>
      <p>El joven ciclista francés Mathieu Riebel, del equipo Shell Pacific, falleció hoy tras sufrir un accidente en el Tour de Nueva Caledonia, indicó la organización de la carrera de ese archipiélago francés.           
        Riebel, de 20 años, chocó contra una ambulancia en la bajada del collado de Pirogue. </p>

      <h4>Así fue el debut triunfal de Mariana Pajón en ciclismo de pista</h4>
      <p>Solo un grito desde la tribuna, que decía “te amo Mariana”, hizo que la doble campeona olímpica de bicicrós saliera por un instante de su concentración.
          Sin poder resistirse lanzó la mirada hacia el aficionado, y con su linda sonrisa y saludándolo con su mano derecha, agradeció el halago.</p>

    
    </div>

    <div class="col-lg-6">
    

      <h4>‘El Tour de Francia 2018 tiene mucha montaña y eso me gusta’: Nairo</h4>
      <p>Se conoció el recorrido del Tour de Francia 2018 y desde ya Nairo Quintana comienza a analizarlo. Esta será una nueva ocasión para que el ciclista colombiano intente conseguir el anhelado sueño de conquistar la ronda gala.</p>

      <h4>‘La primera semana del próximo Tour es la que más me asusta’: Froome</h4>
      <p>El británico Chris Froome, que el año próximo optará a ganar su quinto Tour de Francia, aseguró que el recorrido, presentado este martes en París, le satisface, aunque no ocultó que le da miedo la primera semana.</p>
    </div>
  </div>